@import url('httpss://fonts.googleapis.com/css?family=Roboto');
body {
  background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}
* {
    box-sizing: border-box;
}

.signup-form {
  font-family: "Roboto", sans-serif;
  width:100%;
  margin: auto;
   background-color: #d3d2ae7c;
  border-radius: 10px;
}
.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
  margin-top: 30px;
}

.form-header p {
  font-size: 15px;
  text-align:center;
  background: transparent;
  color: #1BBA93
 }

 h2.topform, h3.topform {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
  padding:10px 40px;
  color:#666;
}
.form-group{
  margin-bottom:20px;
}
.form-body .label-title {
  color:#030303;
  font-size: 17px;
  font-weight: bold;
}
.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
    resize: vertical;
}
.horizontal-group .left{
  float:left;
  width:49%;
}
.horizontal-group .right{
  float:right;
  width:49%;
}
input[type="file"] {
 outline: none;
 cursor:pointer;
 font-size: 17px;
}


::-webkit-input-placeholder {
 color:#d9d9d9;
}
/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.form-footer {
 clear:both;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/
.signup-form .form-footer  {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;

}
.form-footer span {
  float:left;
  margin-top: 10px;
  color:#999;  
  font-style: italic;
  font-weight: thin;


}


/*.btn {
   display:inline-block;
   padding:10px 20px;
   background-color: #1BBA93;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:#bcf5e7;
   cursor:pointer;
}
.btn:hover {
  background-color: #169c7b;
  color:white;
}*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 768px) {
  .signup-form {
    width: 70%;
  }
}
